
.radio {
    appearance: none;
    width: 22px;
    height: 22px;
    border-radius: 100px;
    background: hsl(0, 0%, 90%);
    transform: scale(1.1);
    transition: .3s;
    cursor: pointer;
}

.radio:hover {
    background: aquamarine;
}

.radio:checked {
    background: linear-gradient(to right bottom, hsl(154, 97%, 62%), hsl(225, 97%, 62%));
}

.rad_label {
    display: flex;
    align-items: center;
    border-radius: 100px;
    padding: 5px;
    margin: 10px 0;
    width: 200px;
    cursor: pointer;
}

.rad_label:hover {
    background: hsla(7, 4%, 42%, 0.14);
}

.rad_design:checked {
    background: linear-gradient(to right bottom, hsl(154, 97%, 62%), hsl(225, 97%, 62%))
}

.rad_text {
    color: hsl(0, 0%, 60%);
    margin-left: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 900;
}

