.link {
    text-decoration: none;
    color: rgba(253, 248, 179, 0.84);
    margin: 15px;

}

.link:hover {
    color: rgba(253, 69, 98, 0.84);

}
.link:first-child{
    margin-left: 0;
}
.link:last-child{
    margin-right:  250px;
}

.active {
    color: rgba(253, 38, 213, 0.84);
    font-weight: bold;
    display: flex;
    align-items: center;
}

.block {
    width: 21px;
    height: 21px;
    margin: 10px;
    background: rgba(253, 162, 214, 0.84);
}

.header {
    display: flex;
    width: 400px;
    transition-duration: 500ms;
    transform: translate(-280px);
}

.header:hover {

    transition-duration: 500ms;
    transform: translate(0);
}
.arrow {
    width: 20px;
    display: flex;
    align-items: center;
    margin-left: 45px;
}